
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 9vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.main-content {
    display: flex;
    flex: 1;
    margin-top: 14vh; /* Altezza dell'header */
    width: 100%; /* Assicurati che prenda tutto lo spazio orizzontale */
    overflow: hidden; /* Previene overflow non desiderati */
    position: relative;
}

.content {
    flex: 1;
    transition: margin-left 0.5s ease;
    overflow-y: auto;
    margin-top: 9vh;
    margin-left: 3vw;
    z-index: 1000;
}

.content-open {
    flex: 1;
    transition: margin-left 0.5s ease;
    overflow-y: auto;
    margin-top: 9vh;
    margin-left: 10vw;
}

