.action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    gap: 1vw;
}

.edit{
    width: 3vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    background: #78C091;
}

.view{
    width: 3vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    background: #7EE2FF;
}

.view-icon{
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

.edit-icon{
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

.delete-icon{
    color: white;
    font-size: 1vw;
    cursor: pointer;
}

.delete{
    width: 3vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    background: #FF9770;
}